In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pyspark in /usr/local/lib/python3.8/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /usr/local/lib/python3.8/dist-packages (from pyspark) (0.10.9.5)

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.master("local[*]").appName("pyspark-wrangling").getOrCreate()
spark

In [4]:
df = spark.read.option("header", True)\
     .option("delimiter", ",")\
     .option("inferSchema", True)\
     .csv('file-coderstool.csv')

In [5]:
df.show(5)

+----------------+-------------------+------------------+-----------------+--------------------+------------+--------------------+-----------+
|         sale_id|          sale_date|customer_firstname|customer_lastname|      customer_email|     country|                city|final_price|
+----------------+-------------------+------------------+-----------------+--------------------+------------+--------------------+-----------+
|0QEH4XSL51HKUXQN|1971-09-15 00:00:00|            Simone|              Kim|laurenceellsworth...|     Georgia|       Hanley Grange|      39.75|
|JVO6LY6JZFUMGQPD|2013-10-20 00:00:00|            Lyndon|          Bottoms|wardwhitney6@yaho...|  Seychelles|         Portchester|       87.0|
|HBXBOUZUISUES03J|1995-05-04 00:00:00|            Tyisha|          Tidwell|joya-bevins4@yaho...|      Sweden|           Penistone|       53.9|
|48S1IJT7RU7ER3A6|1997-03-22 00:00:00|          Michaela|            Close|jayson.olsen@hotm...|     Namibia| Stratford upon Avon|      71.12|
|AT5Q7CUD44ZC8XOF|1995-06-27 00:00:00|            Benton|          Ralston|brittani.kirkland...|Sierra Leone|Cockenzie and Por...|      45.49|
+----------------+-------------------+------------------+-----------------+--------------------+------------+--------------------+-----------+
only showing top 5 rows

In [7]:
df.rdd.getNumPartitions()

1

In [14]:
df.printSchema()

root
 |-- sale_id: string (nullable = true)
 |-- sale_date: timestamp (nullable = true)
 |-- customer_firstname: string (nullable = true)
 |-- customer_lastname: string (nullable = true)
 |-- customer_email: string (nullable = true)
 |-- country: string (nullable = true)
 |-- city: string (nullable = true)
 |-- final_price: double (nullable = true)

In [17]:
df.select("final_price").summary("count", "min", "25%", "75%", "max").show()

+-------+-----------+
|summary|final_price|
+-------+-----------+
|  count|      10000|
|    min|        1.0|
|    25%|      25.55|
|    75%|      75.33|
|    max|      99.98|
+-------+-----------+

In [23]:
df.distinct().count()

10000